<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkj.project.mapper.RelRoleAuthMapper">


    <select id="findRelRoleAuthsByRoleId" resultType="com.wkj.project.entity.RelRoleAuth">
        SELECT
          *
          FROM rel_role_auth rra
          where 1=1
        <if test='roleId != null'>
            and rra.role_id = #{roleId}
        </if>
    </select>

    <select id="findRelRoleAuthsByUsername" resultType="Map">
        SELECT
        su.username 'username',
        su.password 'password',
        rra.authority 'authority'
        FROM rel_role_auth rra
        left join rel_user_role rur on rra.role_id = rur.role_id
        left join sys_user su  on rur.user_id = su.id
        where 1=1
        <if test='username != null and username != ""'>
            and su.username = #{username}
        </if>
    </select>


    <!--一次插入多条记录-->
    <insert id="mulInsert" parameterType="java.util.ArrayList">
        insert into rel_role_auth (role_id,authority) VALUES
        <foreach collection="list" item="roleAuth"  separator=",">
            (#{roleAuth.roleId},#{roleAuth.authority})
        </foreach>
    </insert>

    <delete id="deleteRelationByRoleId" parameterType="java.lang.Long">
        DELETE FROM rel_role_auth WHERE role_id = #{roleId}
    </delete>

</mapper>