<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkj.project.mapper.RelUserRoleMapper">


    <select id="findRelUserRolesByUserId" resultType="Map">
        SELECT
          *
          FROM rel_user_role rur
          where 1=1
        <if test='userId != null'>
            and rur.user_id = #{userId}
        </if>
    </select>

    <!--一次插入多条记录-->
    <insert id="mulInsert" parameterType="java.util.ArrayList">
        insert into rel_user_role (user_id,role_id) VALUES
        <foreach collection="list" item="userRole"  separator=",">
            (#{userRole.userId},#{userRole.roleId})
        </foreach>
    </insert>

    <delete id="deleteRelationByUserId" parameterType="java.lang.Long">
        DELETE FROM rel_user_role WHERE user_id = #{userId}
    </delete>

</mapper>