<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkj.project.mapper.SysRoleMapper">


    <select id="findAll" resultType="com.wkj.project.entity.SysRole">
        SELECT
          *
          FROM sys_role sr where is_enabled = true and is_deleted = FALSE

    </select>
    <select id="query" resultType="com.wkj.project.entity.SysRole" parameterType="com.github.pagehelper.Page">
        SELECT
        *
        FROM sys_role
        <where>
            is_enabled = true
            and is_deleted = FALSE
            <include refid="common_where_if"/>
        </where>
    </select>
    <select id="findByIsDeletedIsFalseAndId" resultType="com.wkj.project.entity.SysRole">
        SELECT
        *
        FROM sys_role sr
        where 1=1
            and sr.id = #{id}
            and is_enabled = true and is_deleted = FALSE
    </select>
    <insert id="insert" parameterType="com.wkj.project.entity.SysRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role(name, description,create_date,update_date,is_deleted,is_enabled) values(#{name}, #{description}, #{createDate}, #{updateDate}, #{isDeleted}, #{isEnabled})
    </insert>
    <update id="update" parameterType="com.wkj.project.entity.SysRole">
        update sys_role SET name = #{name}, description = #{description} where id= #{id}
    </update>
    <update id="deleteRole" parameterType="com.wkj.project.entity.SysRole">
        update sys_role SET is_deleted = true, is_enabled = false where id= #{id}
    </update>
    <select id="findByIsDeletedIsFalseAndIsEnabledIsTrueAndUser" resultType="com.wkj.project.entity.SysRole">
        SELECT
        sr.*
        FROM sys_user su
        left join rel_user_role rur on su.id = rur.user_id
        left join sys_role sr on rur.role_id = sr.id
        where 1=1
        and su.id = #{user_id}
        and is_enabled = true and is_deleted = FALSE
    </select>
    <sql id="common_where_if">
        <if test="q != null and q != ''and q != 'all'">
            AND name like concat('%',#{q},'%')
        </if>

    </sql>

</mapper>